body {
    background: url('../img/Wei\'s\ Animals/bluewhale_gif.gif');
}

/* Individual Animal Descriptions */
.animal {
    display: block;
    background-color: #3d7096;
    padding: 30px;
    border: 3px solid;
    border-radius: 20px;
    box-shadow: 10px 10px #777777;
    width: 30%;
}

.animal-label, .animal-description {
    width: 600px;
}

.animal-label > img {
    border-radius: 50% 20% / 10% 40%;
}

.animal-description {
    font-size: 15pt;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}